@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:300,400,700');




body {
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 300;
}

header {
    background: #f00;
}

/* html {
    min-height: 100%;
    position: relative;
}
body {
margin: 0;
margin-bottom: 100px;
}
footer {
background-color: black;
position: absolute;
bottom: 0;
width: 100%;
height: 100px;
color: white;
} */

/* .dropdown:hover > .dropdown-menu {
    display: block;
}
.dropdown > .dropdown-toggle:active {
    
    pointer-events: none;
}
*/

.enlace {
    color: #000!important;
    text-decoration: none;
}

.titulo_categoria {
    color: #f00;
}

.enlace:hover {
    color: #f00!important;
    text-decoration: none;
}


.producto_item h3 {
    font-size: 18px;
}

.titulo {
    font-size: 42px;
}

.subtitulo {
    font-size: 22px;
}

.titular {
    font-size: 22px;
}

.pie {
    font-size: 22px;
}


@media (min-width: 760px) {
    
    .producto_item h3 {
        font-size: 18px;
    }
}


@media (min-width: 960px) {
    .navbar-nav li {
        border-right: #fff 1px solid;
        text-transform: uppercase;
        padding: 0px 10px!important;
    }

    .navbar-nav li:last-child {
        border-right: 0px;
    }

    .telefono {
        font-size: 40px;
    }

    .titulo {
        font-size: 68px;
    }
    
    .subtitulo {
        font-size: 28px;
    }

    .titular {
        font-size: 42px;
    }
}


/* Corrige el ancho en móviles */
@media (max-width: 992px) {
    .container {
        width: 100%;
        min-width: 100%;
    }
}

.delgada {
font-weight: 400;
font-family: 'Merriweather Sans', sans-serif;
}

.alargada {
font-family: 'Merriweather Sans', sans-serif;
}

.gruesa {
font-weight: 700;
}

.fondo_gris {
background: #e4e4e3;
}

h3 {
font-weight: bold;
font-family: 'Merriweather Sans', sans-serif;
border: 0px;
margin-bottom: 0em;
font-size: 38px;
}



.producto_pie a img {
    height: 90px!important;
    max-width: 100%;
}

.barra_lateral img {
    height: 90px!important;
}

.producto_principal b {
    font-weight: normal;
    color: #999;
}

.producto_principal h6 {
    font-weight: bold;
    color: #000;
}


.producto_principal img {
    max-width: 100%;
}

.descripciones {
    font-size: 13px;
}

i {
    font-style: normal!important;
    color: #CCC;
}



.texto-responsive-1 {
    font-size: 10px;
}


@media (min-width: 480px) {
    .texto-responsive-1 {
        font-size: 14px;
    }
}

@media (min-width: 620px) {
    .texto-responsive-1 {
        font-size: 12px;
    }
}

@media (min-width: 720px) {
    .texto-responsive-1 {
        font-size: 22px;
    }
}